.flex {
    display: flex;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

.flex.column {
    flex-direction: column;
}

.flex.space-btwn {
    justify-content: space-around;
    align-items: center;
}

body {
    height: 100vh;
    margin: 0;
    background-color: rgba(155, 89, 182, 0.7);
}

.mobile {
    height: 600px;
    width: 330px;
    border: 3px solid #fff;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
}

.image-container {
    position: relative;
    flex: 1;
    width: 100%; 
}

.image-container .content {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all 0.3s linear;
}

.content.show {
    opacity: 1;
}

nav {
    height: 70px;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

li {
    flex: 1;
    cursor: pointer;
}

li:hover, li.active {
    color: purple;
}

li * {
    margin: 5px 0;
}