* {
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    z-index: 1;
}

.box {
    height: 150px;
    width: 150px;
    border: 3px solid;
    margin: 10px;
    background-color: white;
}

.box.focus {
    border: 3px dashed #fff;
    background-color: #000;
}

.draggable {
    height: 100%;
    width: 100%;
    z-index: -1;
}

.hold {
    border: 5px solid #bbb;
}