@import url("https://fonts.cdnfonts.com/css/muli");

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.center {
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #eee;
  font-family: "Muli", sans-serif;
}

.container {
  border: 3px solid;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
}

.header-container {
  margin: 48px 0 32px 0;
}

.header {
  margin: 0;
  text-transform: capitalize;
}

.digit {
  text-align: center;
  font-size: 52px;
  height: 125px;
  width: 100px;
  border: 1px solid #333;
  border-radius: 6px;
  margin-left: 12px;
}

.digit:first-of-type {
  margin-left: 0;
}

.footer {
  background-color: #bbb;
  border-radius: 6px;
  width: 450px;
  margin: 32px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
