@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
    height: 100vh;
    margin: 0;
}

.button {
    padding: 20px 24px;
    margin-top:12px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 0;
    background-color: #fff;
    user-select: none;
    font-size: 18px;
}

#show {
    padding: 18px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

#show:active {
    transform: scale(0.98);
}

.purple {
    color: rebeccapurple;
}

.red {
    color: red;
}

.green {
    color: green;
}

.toast-container {
    position: absolute;
    bottom: 12px;
    right: 12px;
    display: flex;
    flex-direction: column;
    align-items: end;
}